<configuration>

    <timestamp key="bySecond" datePattern="MMdd'_'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/test_logs/log-${bySecond}.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.github.bonigarcia.wdm" level="WARN"/>
    <logger name="io.github.bonigarcia.wdm.cache" level="WARN"/>
    <logger name="org.apache.hc" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>

    <logger name="com.herokuapp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>